*.[oa]
transconn
connect_listen
smartplat
smartlab
*.swp
*.patch

include/*
!include/*.mk
!include/mconfig.h
!include/mtypes.h

tests/client
tests/perznet
tests/deulog
tests/clar
tests/echoserv
tests/fork-echoserv
tests/testclient

bin/
